.gallery {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 24px 156px;
  margin: 0 auto;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.feedback-form {
  max-width: 408px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px 24px 80px 24px;
  border-radius: 8px;
  background: #fff;
  text-align: left;
}

.feedback-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  font-size: 14px;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid #808080;
  border-radius: 4px;
  resize: none;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #000;
}

.feedback-form button {
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
}

.feedback-form button:hover {
  background: #6c8cff;
}
